.title{
    text-align: center;
    font-size: 50px;
}
.stat_list{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.item{
    display: flex;
    width: 100px;
    height:100px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    color: white;
}
.label{
    font-size: 20px;
}